{{>header}}
{{>nav}}
<img src="/images/photo-1.jpg" alt="aaa">
<p>This site is was created by Vlado Čavrić, it uses data form <a href="https://www.mapbox.com/" target="_blank">mapbox.com</a>
    and <a href="https://openweathermap.org/" target="_blank">openweathermap.org</a></p>
{{>footer}}
