{{>header}}

<!--<script src="/starter/dist/js/scripts.min.js"></script>-->
{{>nav}}
<p>{{ime}} {{prezime}}</p>
<form action="/" method="post">
    <div>
        <input type="text" name="address" placeholder="type the city">
<!--        <input type="button" value="Submit">-->
        <button>Search</button>
    </div>
</form>
{{!#if city}}
    <p id="message-1"></p>
    <p id="message-2"></p>
{{!/if}}
<script src="/js/app.js"></script>
{{>footer}}