///* ========================================================================
//   #COLORS
//   ======================================================================== */

// This settings contain color variables

$white: #fff;
$black: #000;
$boulder: #7c7c7c;
$mine-shaft: #333;

$color-main: $black;

//ECCO Style Guide color palete

$primary-blue: #002868;
$primary-light-blue: #4db6e3;
$primary-yellow: #fbbe00;

$secondary-purple: #912a84;
$secondary-green: #008273;
$secondary-green-hover: #005047;
$secondary-orange: #ee801c;
$secondary-blue: #0075b1;
$secondary-red: #d12d3f;

//
$orange-404: #ffa500;
$nav-green: #00ff00;
$border-gray: #c2c1c15d;
// table border
$alto: #d8d8d8;

//tabel sidebar & acordeon
$alabaster: #fafafa;

//lable
$gallery1: #eaeaea;

// tabel heading & lightbox background
$gallery2: #eee;

// acordeon qote
$gallery3: #efefef;

// acordeon drop down icon background
$iron: #d7d9db;


// link hover
$fun-blue: #1f55b0
