<nav>
    <ul>
        <ls><a href="/">home</a></ls>
        <ls><a href="/about">about</a></ls>
        <ls><a href="/help">help</a></ls>
        <ls><a href="/novo">novo</a></ls>
        <ls><a href="/weather">weather</a></ls>
    </ul>
</nav>
<main class="container">
<h1 class="page-title">{{title}}</h1>
<h3><i>{{autor}}</i></h3>