form {
	padding: 1rem 0;

	div {
		border: 2px solid #c2c1c15d;
		border-radius: 10px;
		display: flex;

	}

	input[type='text'] {
		padding: 15px;
		width: 80%;
		margin: 0;
		border: 0 solid;
		border-radius: 10px 0 0 10px;
		//border-radius: 2px;
	}

	button {
		padding: 17px;
		width: 20%;
		margin: 0;
		border: 0;
		background-color: $secondary-green;
		color: white;
		border-radius: 0 10px 10px 0;
		&:hover {
			background-color: $secondary-green-hover;
			cursor: pointer;
		}
	}
}
